# WebHelper parameters
webservers:
    apache:
        - JamesRezo\WebHelper\WebServer\ApacheWebServer
        - ['httpd', 'apachectl', 'apache2ctl']
    nginx:
        - JamesRezo\WebHelper\WebServer\NginxWebServer
        - ['nginx']
